@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Outfit:wght@100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(213, 208, 199, 1);
  color: rgba(11, 11, 11, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-u-header.is-open .q-u-header-background {
  left: 0;
}
.q-u-header-button-wrapper {
  margin-left: auto;
}
.q-u-header-icon {
  display: none;
}

.q-u-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-u-navigation-list.is-open {
  right: 0;
}
.q-u-header-icon-menu {
  display: block;
}

.q-u-header-icon-button.is-open .q-u-header-icon-menu {
  display: none;
}

.q-u-header-icon-button.is-open .q-u-header-icon-close {
  display: block;
}

.q-u-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(46, 42, 38, 1);

  backdrop-filter: blur(20px);
}

.q-u-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(46, 42, 38, 1);

  backdrop-filter: blur(20px);
}
.q-u-header.is-open .q-u-header-background {
  left: 0;
}
.q-u-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-u-header-icon-menu {
  display: block;
}

.q-u-header-icon-button.is-open .q-u-header-icon-menu {
  display: none;
}

.q-u-header-icon-button.is-open .q-u-header-icon-close {
  display: block;
}

.q-u-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.q-u-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  gap: 28px;
  background: #6b4f3b;
}

.q-u-navigation-list.is-open {
  right: 0;
}

.q-u-navigation-link {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(250, 248, 242, 1);
  padding: 8px;
  border-bottom: 1px solid transparent;
}

.q-u-navigation-link:hover,
.q-u-navigatioт-link:focus {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(245, 243, 239, 1);
}

.q-u-header.is-open {
  background-color: transparent;
}

.q-u-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .q-u-navigation-img {
    display: flex;
  }
  .q-u-policy-terms-header-icon-menu {
    display: none;
  }

  .q-u-header {
    width: 100%;
    height: 64px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .q-u-header-background {
  }
  .q-u-header-icon-button {
    display: none;
  }
  .q-u-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-u-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-u-navigation-link {
    font-family: Outfit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    color: rgba(245, 243, 239, 1);
    text-decoration: none;
  }

  .q-u-navigation-item-desk {
    display: none;
  }
}
.q-u-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
  margin: auto;
}
.q-u-home-container {
  width: 375px;
  padding: 508px 16px 0px;
  margin: auto;
}

.q-u-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.q-u-home-title {
  font-family: Cormorant Garamond;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0%;

  color: rgba(46, 42, 38, 1);
}

.q-u-home-text {
  font-family: Cormorant Garamond;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(107, 79, 59, 1);
  padding-left: 50px;
}
.q-u-home-text-two {
  font-family: Outfit;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 40px 0 24px;
  color: rgba(46, 42, 38, 1);
}
.q-u-home-google-button-link {
  margin: auto;
}
.q-u-home-google-button-image {
  width: 260px;
  height: 56px;
}

.q-u-home-google-button-link:hover .q-u-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1202px) {
  .q-u-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/Frame\ 152.png");
  }
  .q-u-home-container {
    width: 1440px;
    padding: 292px 108px 0px 0;
  }
  .q-u-home-container-top {
    width: 496px;
    margin-left: 836px;
    align-items: end;
  }

  .q-u-home-title {
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 102px;
    line-height: 102px;
    letter-spacing: 0%;
    width: 496px;
  }

  .q-u-home-text {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-style: italic;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: right;
  }
  .q-u-home-text-two {
    font-family: Outfit;
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: right;

    width: 392px;
    padding: 80px 0 32px;
  }
  .q-u-home-google-button-link {
    margin: 0;
  }
}
.q-u-about-container {
  width: 375px;
  padding: 60px 16px;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  position: relative;
}
.q-u-about-title {
  font-family: Cormorant Garamond;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(176, 76, 76, 1);
}

.q-u-about-text {
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  padding-top: 24px;
}

.q-u-about-img {
  width: 343px;
  height: 235px;
}
.q-u-about-image {
  width: 150px;
  height: 101px;
  position: absolute;
  top: 573px;
  right: 16px;
}
@media screen and (min-width: 1202px) {
  .q-u-about-container {
    width: 1440px;
    padding: 100px 108px 100px;
    flex-direction: row-reverse;
    align-items: start;
    gap: 24px;
  }

  .q-u-about-title {
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 392px;
    border-bottom: 2px solid rgba(176, 76, 76, 1);
  }

  .q-u-about-text {
    font-family: Outfit;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 32px;
  }

  .q-u-about-img {
    width: 600px;
    height: 412px;
  }
  .q-u-about-image {
    width: 534px;
    height: 358px;
    position: absolute;
    top: 388px;
    right: 63px;
  }
}

.q-u-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px;
  position: relative;
}
.q-u-uniqueness-image {
  position: absolute;
  top: 98px;
  left: 311px;
  width: 48px;
  height: 18px;
}
.q-u-uni-title {
  margin-bottom: 24px;
}
.q-u-uniqueness-list {
  display: flex;
  flex-direction: column;
}
.q-u-uniqueness-item {
  width: 343px;
  height: 290px;
  color: rgba(250, 248, 242, 1);
}
.q-u-uniqueness-img {
  width: 343px;
  height: 290px;
}
.q-u-uniqueness-text {
  font-family: Outfit;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  margin-top: -76px;
  padding: 14px 12px 4px;
}
.q-u-uniqueness-textt {
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 12px;
}
@media screen and (min-width: 1202px) {
  .q-u-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 106px;
  }

  .q-u-uniqueness-image {
    position: absolute;
    top: 310px;
    left: 321px;
    width: 154px;
    height: 57px;
  }
  .q-u-uni-title {
    margin-bottom: 0;
    width: 384px;
    margin-right: 24px;
  }
  .q-u-uniqueness-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .q-u-uniqueness-item {
    width: 409px;
    height: 290px;
  }
  .q-u-uniqueness-img {
    width: 409px;
    height: 290px;
  }
  .q-u-uniqueness-text {
    font-family: Outfit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    margin-top: -80px;
    padding: 14px 12px 4px;
  }
  .q-u-uniqueness-textt {
    font-family: Outfit;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 0 12px;
  }
}

.q-u-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.q-u-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}
.q-u-why-item {
  width: 288px;
  margin: auto;
}
.q-u-why-img {
  margin: auto;
}
.q-u-why-text-bold {
  color: rgba(46, 42, 38, 1);
  font-family: Outfit;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 8px;
}
.q-u-why-text {
  color: rgba(46, 42, 38, 1);
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .q-u-why-container {
    width: 1440px;
    padding: 100px 108px;
  }
  .q-u-why-title {
    width: 704px;
  }
  .q-u-why-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .q-u-why-item {
    width: 288px;
    margin: 0;
  }

  .q-u-why-text-bold {
    font-family: Outfit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .q-u-why-text {
    font-family: Outfit;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.q-u-how {
  margin: auto;
  width: 375px;
  height: 1452px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
}
.q-u-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px 0;
}
.q-u-how-text {
  font-family: Cormorant Garamond;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

  color: rgba(46, 42, 38, 1);
  padding: 523px 28px 0;
}
.q-u-how-text-two {
  font-family: Cormorant Garamond;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(46, 42, 38, 1);
  padding: 550px 32px 0;
}
@media screen and (min-width: 1202px) {
  .q-u-how {
    width: 1440px;
    height: 744px;
    background-image: url("/img/11.png");
  }
  .q-u-how-title {
    width: 600px;
  }
  .q-u-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 108px;
  }
  .q-u-how-text {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    padding: 0;
    margin: 133px 0 0 424px;
    width: 352px;
  }
  .q-u-how-text-two {
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    margin: 120px 0 0 840px;
    padding: 0;
    width: 352px;
  }
}
.q-u-characters {
  margin: auto;
  width: 375px;
  height: 2221px;
  background-image: url("/img/characters/1.png");
}
.q-u-characters-container {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
}
.q-u-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 40px;
}
.q-u-characters-img {
  width: 343px;
  height: 385px;
}
.q-u-characters-text-bold {
  font-family: Outfit;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(46, 42, 38, 1);
  padding: 24px 27px 7px;
}

.q-u-characters-text {
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(46, 42, 38, 1);
  padding: 0 27px;
}

@media screen and (min-width: 1202px) {
  .q-u-characters {
    margin: auto;
    width: 1440px;
    height: 1367px;
    background-image: url("/img/characters/11.png");
  }
  .q-u-characters-container {
    padding: 100px 108px;
    margin: auto;
    width: 1440px;
  }
  .q-u-characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 66px;
    padding: 76px 100px 0;
    justify-content: center;
  }
  .q-u-characters-img {
    width: 392px;
    height: 385px;
  }
  .q-u-characters-item {
    width: 392px;
  }
  .q-u-characters-text-bold {
    font-family: Outfit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    padding: 24px 52px 7px;
  }

  .q-u-characters-text {
    font-family: Outfit;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    color: rgba(46, 42, 38, 1);
    padding: 0 52px;
  }
}

.q-u-features-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.q-u-features-text-bold {
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  color: rgba(46, 42, 38, 1);
  text-decoration: none;
  padding-top: 4px;
}
.q-u-features-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 32px;
}
.q-u-features-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.q-u-features-input {
  border: 1px solid rgba(46, 42, 38, 1);
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  background-color: transparent;
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(46, 42, 38, 0.7);
}
.q-u-features-textarea {
  height: 240px;
}
.q-u-features-button {
  width: 343px;
  height: 56px;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: rgba(176, 76, 76, 1);

  border: none;
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: rgba(250, 248, 242, 1);
  margin-top: 24px;
}

@media screen and (min-width: 1202px) {
  .q-u-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 162px;
  }
  .q-u-features-title-q {
    width: 600px;
  }

  .q-u-features-div {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 32px;
  }

  .q-u-features-input {
    width: 600px;
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
  }
  .q-u-features-textarea {
    height: 240px;
  }
  .q-u-features-button {
    width: 260px;
    padding-top: 16px;
    padding-bottom: 16px;

    margin-top: 30px;
  }
  .q-u-features-img {
    margin-top: -88px;
  }
}
.q-u-container {
  padding: 126px 16px 40px;
  width: 375px;
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  margin: auto;
}

.q-u-container h1 {
  font-family: Cormorant Garamond;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.q-u-container h2 {
  margin-top: 10px;
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.q-u-container h3 {
  margin-top: 10px;
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.q-u-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.q-u-container ul li {
  margin-bottom: 10px;
}
.q-u-container p {
  margin-top: 10px;
}
.q-u-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.q-u-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1202px) {
  .q-u-container {
    padding: 174px 212px 80px;
    width: 1440px;
    margin: auto;
    font-family: Outfit;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .q-u-container h1 {
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .q-u-container h2 {
    margin-top: 20px;
    font-family: Outfit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .q-u-container h3 {
    margin-top: 20px;
    font-family: Outfit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .q-u-container ul {
    margin-top: 20px;
  }

  .q-u-container ul li {
    margin-bottom: 10px;
  }
  .q-u-container p {
    margin-top: 20px;
  }
}

.q-u-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: rgba(245, 243, 239, 1);
}

.q-u-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.q-u-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Outfit;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.q-u-footer-copyright {
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .q-u-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;

    align-items: stretch;
    gap: 60px;
  }

  .q-u-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 74px;
  }

  .q-u-footer-text {
    font-family: Outfit;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-u-footer-copyright {
    font-family: Outfit;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.q-u-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: rgba(246, 233, 216, 1);

  backdrop-filter: blur(20px);

  z-index: 1000;
  display: none;
}

.q-u-cookie-popup-text-two {
  font-family: Outfit;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(11, 11, 11, 1);
}

.q-u-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.q-u-cookie-button {
  border: none;
  background-color: transparent;
  background: rgba(205, 132, 133, 1);

  width: 343px;

  padding-top: 16px;

  padding-bottom: 16px;
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: rgba(46, 42, 38, 1);
}

#accept-cookies {
  background: rgba(205, 166, 132, 1);
}

.q-u-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1202px) {
  .q-u-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-u-cookie-popup-text-two {
    font-family: Outfit;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    text-align: left;
    width: 808px;
  }
  .q-u-cookie-button {
    border: none;

    width: 184px;
  }
  .q-u-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-u-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
